@{
    ViewData["Title"] = "SonicBank";
}

<div class="jumbotron">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome, Toomas</h2>
        <table style="width: 100%">
            <tr>
                <th>Account Number</th>
                <th>Balance</th>
            </tr>
            <tr>
                <td>EE1234567890</td>
                <td>115,67 €</td>
            </tr>
            <tr>
                <td>EE0987655432321</td>
                <td>0,01 €</td>
            </tr>
        </table>
    </div>
    <div class="col-md-2" style="text-align: end">
        <h3>Shortcuts</h3>
        <p>
            <a class="btn btn-default"
               href="../Home/Transaction">Transactions &raquo;</a>
            <a class="btn btn-default"
               href="http://google.com">Make a transaction &raquo;</a>
            <a class="btn btn-default"
               href="../Manage/Index">Account settings &raquo;</a>
        </p>
    </div>
</div>
