@{
    ViewData["Title"] = "SonicBank";
}

<div class ="jumbotron">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to SonicBank</h2>
        <p>
            SonicBank on meie uus projekt. 
        </p>
    </div>

    <div class="col-md-4">
        <h2>Info nr 2. </h2>
        <p>
            Ava see link! 
        </p>
        <p>
            <a class="btn btn-default"
               href="https://www.google.ee/search?q=sonic+potter&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjGqfikyOzdAhUop4sKHeUADFgQ_AUICigB&biw=1920&bih=920">Kliki mind! &raquo;</a>
        </p>
    </div>

    <div class="col-md-4">
        <h2>Tähtis info nr 3. </h2>
        <p>
            Jätan alles, äkki läheb kunagi vaja. 
        </p>
        <p>
            <a class="btn btn-default"
               href="http://facebook.com">Facebook &raquo;</a>
        </p>
    </div>

</div>
