@{
    ViewData["Title"] = "Your transactions";
}

<div>
        <h2>Welcome, customer_name</h2>
        <div class="row">
            <table style="width:100%">
                <tr>
                    <th>Name</th>
                    <th>Account Number</th>
                    <th>Card </th>
                </tr>
                <tr>
                    <td>Toomas Siil</td>
                    <td>EE1234567890</td>
                    <td>ISIC MASTERCARD</td>
                </tr>
            </table>
        </div>

    <div class="row">
        <h3>Transactions</h3>
        <table style="width:100%">
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Balance</th>
                <th>Comment</th>
                <th>Name</th>
            </tr>
            <tr>
                <td>01.01.2018</td>
                <td>- 200</td>
                <td>+ 410,16</td>
                <td>Birthday gift</td>
                <td>Heli Kopter</td>
            </tr>
            <tr>
                <td>03.01.2018</td>
                <td>+ 200</td>
                <td>+ 610,16</td>
                <td>Loan</td>
                <td>Mari Maasikas</td>
            </tr>
            <tr>
                <td>05.01.2018</td>
                <td>- 10,16</td>
                <td>+ 600</td>
                <td>51655588 05.01.2018 Tammsaame Rimi</td>
                <td>Tammsaare Rimi</td>
            </tr>
        </table>
    </div>
</div>
